<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Budget System</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css"
	href="../resources/css/general.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript"
	src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>

</head>
<body>
	<th:block th:include="_adminheader"></th:block>
	<div class="container">
		<h2>Change Password</h2>
		<div class="table-responsive">
			<table class="table table-striped">
				<tr>
					<td><label>Current password: </label></td>
					<td><input type="password" id="current-pass"></td>
				</tr>
				<tr>
					<td><label>New password:</label></td>
					<td><input type="password" id="new-pass"></td>
				</tr>
				<tr>
					<td><label>Confirm password: </label></td>
					<td><input type="password" id="pass-confirm"></td>
				</tr>
				<tr>
					<td colspan="2"><button id="change-pass" class="btn btn-info">Submit</button></td>
				</tr>
			</table>
		</div>
	</div>
</body>
<script src="/resources/js/admin_account.js"></script>
</html>