<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Budget System</title>
</head>
<body>
     <th:block th:include="_adminheader"></th:block>
     <div>
	     <div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
			<button id="close" class="w3-bar-item w3-large">Close &times;</button>
			<div th:each="groupdepts : ${companydepts}">
				<label th:data-company-id="${groupdepts[0][0].getGroup().getCompany().getCompanyid()}" th:text="${groupdepts[0][0].getGroup().getCompany().getCompanyname()}"></label>
				<div th:each="groupdept : ${groupdepts}">
					<label th:text="${groupdept[0].getGroup().getGroupcode()}"></label>
					<a class="w3-bar-item w3-button dept" th:each="dept : ${groupdept}" th:data-dept-id="${dept.getDeptid()}" th:text="${dept.getDeptname()}"></a>
				</div>
			</div>
		 </div>
     	<div class="row">
	     	<div class="btn-group col-md-2">
	     		<button class="btn btn-info btn-lg" id="menu"><i class="glyphicon glyphicon-list"></i>&nbsp;Dept</button>
	     		<button class="btn btn-info btn-lg" data-toggle="modal" data-target="#addModal">Add Budget</button>
	     	</div>
			<div class="col-md-7">
				<div class="col-md-2"></div>
				<div class="col-md-4">
					<input type="radio" name="tool" value="UHA"><label>Utilize historical amount</label><br>
					<input type="text" id="percent-add-in" placeholder="Percent add in">
				</div>
				<div class="col-md-3">
					<input type="radio" name="tool" value="CD"><label> Cost driver</label><br>
					<input type="text" id="cost-allocation" placeholder="Cost Allocation">
				</div>
				<div class="col-md-1">
					<button class="btn btn-info btn-lg" id="submit-tool">Apply</button>
				</div>
			</div>
			<div class="btn-group col-md-3">
				<button class="btn btn-info btn-lg" id="edit"><i class="glyphicon glyphicon-edit"></i>&nbsp;Edit</button>
				<button class="btn btn-info btn-lg" id="discard"><i class="glyphicon glyphicon-ban-circle"></i>&nbsp;Discard</button>
				<button class="btn btn-info btn-lg" id="save"><i class="glyphicon glyphicon-floppy-save">&nbsp;Save</i></button>
				<button class="btn btn-info btn-lg" id="submit"><i class="glyphicon glyphicon-saved"></i>&nbsp;Submit</button>
			</div>
     	</div>
		<div class="modal fade" id="addModal" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Add New Budget</h4>
					</div>
					<div class="modal-body">
						<div class="wrapper">
							<div class="table-responsive">
								<form>
									<label>Budget Control Dept</label>
									<p id="c-dept" data-dept-id="" data-dept=""></p>
									<label>Sponsor Dept</label>
									<div id="s-dept">
									</div>
									<label>Budget Line</label>
									<select id="bg-line">
									</select>
									<div class="modal-footer">
										<button id="add-budget" type="button" class="btn btn-custom" data-dismiss="modal">Add</button>
										<button id="add-close" type="button" class="btn btn-custom" data-dismiss="modal">Close</button>
									</div>
								</form>
							</div>
						</div>
					</div>		
				</div>
			</div>
		</div>
	     <div class="summary table-responsive">
	     	<table class="table table-striped">
				<thead>
					<tr>
						<th>Budget control Dept</th>
						<th>Sponsor Dept</th>
						<th>Budget line</th>
						<th>Group</th>
						<th>Detail</th>
						<th>Code</th>
						<th>Budget Amount</th>
						<th>Time Allocation</th>
						<th>Start Time</th>
						<th>Expense</th>
						<th>Delete</th>
						<th>Tool</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>		
	     </div>
	</div>
</body>
 <script src="/resources/js/summary.js"></script>
</html>