<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<th:block th:include="_adminheader"></th:block>
	<div class="reviewer-role" th:if="${not #lists.isEmpty(reviewer)}">
		<h2>Role Reviewer</h2>
		<div th:each="role : ${reviewer}">
	    	<a th:href="${'/user/summary/review/'+role[1]}" th:text="${role[0]}" class="btn btn-default"></a>
       	</div>
	</div>
	<div class="reporter-role" th:if="${not #lists.isEmpty(reporter)}">
		<h2>Role Reporter</h2>
		<div th:each="role : ${reporter}">
	        <a th:href="${'/user/summary/report/'+role[2]}" th:text="${role[0]+'>'+role[1]}" class="btn btn-default"></a>
       	</div>
	</div>
</body>
</html>