<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<th:block th:include="_adminheader"></th:block>
	<div class="reviewer-role" th:if="${not #lists.isEmpty(reviewer)}">
		<h2>Role Reviewer</h2>
		<table>
			<tr>
				<th>COMPANY</th>
				<th>GROUP</th>
			</tr>
			<tr th:each="role : ${reviewer}">
	            <td th:text="${reviewer[0]}"></td>
	            <td th:text="${reviewer[1]}"></td>
       		</tr>
		</table>
	</div>
	<div class="reviewer-role" th:if="${not #lists.isEmpty(reporter)}">
		<h2>Role Reviewer</h2>
		<table>
			<tr>
				<th>COMPANY</th>
				<th>DEPT</th>
			</tr>
			<tr th:each="role : ${reporter}">
	            <td th:text="${reporter[0]}"></td>
	            <td th:text="${reporter[1]}"></td>
       		</tr>
		</table>
	</div>
</body>
</html>